<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGuitarService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60087/GuitarService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGuitarService"
                contract="ServiceReference1.IGuitarService" name="BasicHttpBinding_IGuitarService" />
        </client>
    </system.serviceModel>
</configuration>